@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cardSubTitle {
    font-size: 12px;
    font-weight: 600;
    line-height: 16.8px;
    letter-spacing: 0.04em;
    color: #757575;
  }
  .cardContent {
    font-family: Gilroy;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    color: #424242;
  }
  .heading {
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #424242;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


.tabIsActive svg path {
  stroke: #3575D5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin: 0 10px;
  list-style: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}