@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cardSubTitle {
    font-size: 12px;
    font-weight: 600;
    line-height: 16.8px;
    letter-spacing: 0.04em;
    color: #757575;
  }

  .cardContent {
    font-family: Gilroy;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    color: #424242;
  }

  .heading {
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #424242;
  }
}
body {
  background: #f6f7f9;
}

.tabIsActive svg path {
  stroke: #3575d5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin: 0 10px;
  list-style: none;
}

.boxShadowDashBoard{
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08);
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
